<div class="login-layout">
  <div class="my-login box">
    <button mat-fab color="primary">
      <mat-icon>lock</mat-icon>
    </button>
    <br/>
    <form [formGroup]="loginForm" (ngSubmit)="send()" ngNativeValidate>
      <div>

        <mat-form-field appearance="fill">
          <mat-label>Enter your email</mat-label>
          <input matInput placeholder="pat@example.com" formControlName="email" required>
          <mat-error *ngIf="loginForm.get('email')?.errors?.['required']">Email is required.</mat-error>
          <mat-error *ngIf="loginForm.get('email')?.errors?.['email']">Invalid email format.</mat-error>
        </mat-form-field>
        <br/>

        <mat-form-field>
          <mat-label>Enter your password</mat-label>
          <input matInput formControlName="password" type="password">
          <mat-error *ngIf="loginForm.get('password')?.errors?.['required']">Password is required.</mat-error>
          <mat-error *ngIf="loginForm.get('password')?.errors?.['minlength']">Password must be at least 6 characters long.</mat-error>
        </mat-form-field>
        <br/><br/>
        <button mat-raised-button color="primary" [disabled]="loginForm.invalid">Submit</button>
        <a routerLink="/register">
          <p>Don't have account? Register now</p>
        </a>
      </div>
    </form>
  </div>

  <div class="my-photo">
    <img [src]="imgSrc" alt="main-photo">
  </div>

  <div class="my-statics">
    <mat-icon>info</mat-icon>
    <div>
      The number of products in our site - {{productsCount}} <br/>
      The number of orders in our site - {{ordersCount}}
    </div>
  </div>
</div>
